// Page header
.front-hero {
  @include breakpoint(small) {
    background-size: cover;
    padding: rem-calc(10%) 0;
    margin: 0;
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background-color: $wprdc-white;

    border-bottom: 2px solid $wprdc-black;
    margin: 0 0 rem-calc(10%) 0;
  }

  .marketing {
    @include grid-row();

    .search-zone {

      //border: 1px solid blue; // todo: just for reference

      @include breakpoint(small) {
        @include grid-column(12);
      }

      @include breakpoint(medium) {
        @include grid-column(7);
      }

      .searchbar {
        margin-top: 5rem;
      }
      .searchbar-comment {
        @include breakpoint(small){
          display: none;
        }
        padding: 0 6rem 0 2rem;
        p {
          color: $dark-gray;
        }
      }
    }

    .showcase-zone {
      @include breakpoint(small) {
        @include grid-column(12);
      }

      @include breakpoint(medium) {
        border-left: 2px solid $wprdc-black; // todo: replace with custom divider
        @include grid-column(5);
        .orbit-container{
          width: 250px;
        }
        .orbit-image {
          height: 250px;
          width: 250px;
        }
      }
      
    }
  }

  h1 {
    color: #fff;
    font-weight: 500;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: rem-calc(20);
  }
}

// Section divider
.section-divider {
  @include grid-row();
  box-sizing: content-box;
  hr {
    @extend .dotted;
    box-sizing: content-box;
    margin: rem-calc(5%) 0;
  }
}

.material-icons.search-icon {
  font-weight: 800;
}

// Outreach Stuff - middle row
.outreach-stuff {
  @include grid-row();

  .callout {
    color: $wprdc-yellow;
    background-color: $wprdc-black;
  }

}

// Tech stuff - bpttpm row
.technical-stuff {
  @include grid-row();
}

.clip-hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}