// Page header

$hex: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyMDBweCIgaGVpZ2h0PSIyMDBweCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwMCAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjEzLjQ5OSw0OS44NzYgOTkuODg3LDAgMTg2LjI4NCw0OS44NzkgMTg2LjI4NCwxNDkuNjM1IDk5Ljg4NywxOTkuNTE2IDEzLjQ5OSwxNDkuNjMgIi8+Cjwvc3ZnPg==";

.front-hero {
  @include breakpoint(small) {
    background-size: cover;
    padding: rem-calc(10%) 0;
    margin: 0;
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background-color: $wprdc-black;

    border-top: 1px solid $wprdc-gray;
    margin: 0 0 0 0;
  }

  .marketing {
    @include grid-row();

    .search-zone {

      @include breakpoint(small) {
        @include grid-column(12);
      }

      @include breakpoint(medium) {
        @include grid-column(8);

      }

      .searchbar {
        margin-top: 5rem;
      }
      .searchbar-comment {
        @include breakpoint(small down) {
          display: none;
        }
        padding: 0 6rem 0 2rem;
        p {
          font-size: rem-calc(14pt);
          font-style: italic;
          color: $dark-gray;
          margin-bottom: rem-calc(6pt);
        }
      }
    }

    .showcase-zone {
      @include breakpoint(small) {
        @include grid-column(12);
      }

      @include breakpoint(medium) {
        border-left: 2px solid $wprdc-gray; // todo: replace with custom divider
        @include grid-column(4);
        .orbit-container {
          .panel {
            margin: 10px auto 0 auto;
            width: 320px;
            height: 240px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 6px;

            .showcase-title-container {
              padding-top: 60px;
            }
            .showcase-title {
              display: block;
              font-weight: 600;
              font-size: rem-calc(18pt);
              vertical-align: middle;
              background: rgba(0, 0, 0, .4);
              color: $white;
              margin: 0 0;
            }
          }
        }
        .orbit-image {

        }
      }

    }
  }

  h1 {
    color: #fff;
    font-weight: 500;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .download {
    margin-top: rem-calc(20);
  }
}

// Section divider
.section-divider {
  @include grid-row();
  box-sizing: content-box;
  hr {
    @extend .dotted;
    box-sizing: content-box;
    margin: rem-calc(5%) 0;
  }
}

.material-icons.search-icon {
  font-weight: 800;
}

// Outreach Stuff - middle row
.front-content-container {
  background: $white;
  padding-top: rem-calc(10%);

  .callout {
    border-radius: (6px);
  }

  .outreach-stuff {
    @include grid-row();

    .callout {
      position: relative;
      color: $wprdc-gray;
      background-color: $wprdc-black;


      .logo {
        color: $wprdc-yellow;
        position: absolute;
        top: 5px;
        right: 3px;
      }

      .icon {
        font-size: 16pt;
        top: 0;
      }


      .tweets-orbit {
        max-height: 120px;
        overflow: hidden;
        font-size: rem-calc(12pt);
        a {
          color: $wprdc-yellow;
        }
      }
    }

  }

  // Tech stuff - bpttpm row
  .technical-stuff {
    @include grid-row();

    .callout {
      position: relative;
      color: $wprdc-yellow;
      background-color: $wprdc-white;
      border-radius: (6px);
    }
  }
}

.clip-hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}