.front-hero {
  @include breakpoint(small) {
    position: relative;
    background-color: $wprdc-black;
    background-size: cover;
    color: $wprdc-white;
    h1 {
      font-size: 1.8rem;
    }
    .bg-orbit{
      display: none;
    }
  }

  @include breakpoint(medium) {
    margin: 0 0 0 0;
    height: 280px;
    h1 {
      font-size: 2.875rem;
    }

    .bg-orbit {
        display: block;

      position: absolute;
      width: 100%;
      height: 100%;
      .orbit-slide {
        height: 280px;
        background-repeat: no-repeat;
        background-position: right top;
      }
    }

    .marketing-container {
      position: absolute;
      width: 100%;
      height: 100%;
    }

  }

  .marketing {
    @include grid-row();
    padding: 2rem 1rem;
    h1 {
      font-weight: 700;
    }
    @include breakpoint(medium) {
      // position: absolute;
    }
  }

  // shade over bg image for readability
  .bg-shade {
    background-color: rgba($wprdc-black, 0.8);

    @include breakpoint(medium) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

    }
  }
}

.info-row {
  @include grid-row();
  padding: rem-calc(1.5rem) 0 rem-calc(.5rem) 0;

  p > a {
    font-weight: 700;
  }

  .info-box {
    @include breakpoint(small) {
      @include grid-col(6)

    }
    @include breakpoint(medium) {
      @include grid-col(3);
      p {
        font-size: 14pt;
      }
    }
    &.wide {
      @include breakpoint(small) {
        @include grid-col(12)
      }
      @include breakpoint(medium) {
        @include grid-col(4);
      }
    }
    img {
      display: block;
      margin: auto;
      height: 110px
    }
    h3 {
      font-weight: 600;
    }
  }
}

.outreach-container {
  background: $wprdc-white;

}

.usercategories-container {
  z-index: 1;
  background: $wprdc-gray;
}

.alert-container {
  @include breakpoint(small down) {
    text-align: center;
  }
  .alert-icon {
    height: 1.5rem;
  }
  .data-alert {
    @include breakpoint(small down) {
      display: inline-block;
      margin: auto;
    }
    margin-top: 2rem;

    span {
      vertical-align: top;
      color: $wprdc-yellow;
    }
  }
}

.landing-page-link, .landing-page-link:hover {
  color: inherit;
}

.orbit-container {
  background-color: rgba($wprdc-black, 0.6);
}

.showcase-info {
  position: absolute;
  z-index: 100;
  right: 5px;
  bottom: 0px;
  text-align: right;
  a {
    color: $wprdc-black;
  }
  .showcase-title {
    padding: 3px 5px;
    font-weight: 600;
    font-size: 1.5rem;
    background: rgba($wprdc-white, 0.6);
  }
  .showcase-desc {
    font-size: 80%;
    padding: 2px 3px;
    background: rgba($wprdc-white, 0.6);
  }
}

.button.browse-button{
  border: 2px solid $wprdc-yellow;
  //color: $wprdc-black;
  //background: $wprdc-yellow;
  //&:hover {
  //  background: darken($wprdc-yellow, 10%);
  //}
}