// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

.top-bar-right {
  vertical-align: bottom;
  height: 100%;
}

// Site title
.site-mobile-title a {
  // placeholder
}

.site-desktop-title a {
  font-weight: bold;
}


.site-title-logo {
  margin: 0 5px;
  padding: 0;
  height: 30px;
}

.site-title {
  color: $wprdc-gray;
  vertical-align: middle;
  font-size: rem-calc(20pt);
  font-weight: 500;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.mobile-menu,
.mobile-off-canvas-menu {

  // submenu arrow
  .is-accordion-submenu-parent {
    > a::after {
      border-color: $wprdc-yellow transparent transparent;
    }
    &.active > a::after {
      border-color: $wprdc-yellow transparent transparent;
    }
  }

  // current page
  .current_page_item > a {
    font-weight: bold;
  }
}
.top-bar-right {
  padding-top: 2px;
  vertical-align: bottom;
}
// Tablet and desktop menu
.desktop-menu {

  a {
    color: $wprdc-yellow;
    font-size: 12pt !important;
    &:after {
      border-color: $wprdc-yellow transparent transparent !important; // TODO: not use important here
    }
  }
  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $wprdc-yellow transparent transparent;
    }
    &.active > a::after {
      border-color: $wprdc-yellow transparent transparent;
    }
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}